body {
    background-color: #49a4ff9c;
    color: #e6f8ff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: linear-gradient(130deg, #0a1e3f 1%, #1a3a52 25%, #0d2a4a 50%, #1a3a52 75%, #0f1f3f 110%);
    background-attachment: fixed;

}

.container {
    width: 400px;
    background-color: #100f29cc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid #333;
}

h1 {
    color: #00ff88;
    text-align: center;
}

h3 {
    color: #00d4ff;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
}

.card {
    background: #252525;
    padding: 15px;
    border-radius: 5px;
    border-left: 5px solid #00ff88;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(100deg, #4aaf59, #00cc6e);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;

}

button:hover {
    background-color: #00cc6e;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    color: #ccc;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #252525;
    color: white;
    box-sizing: border-box;
}

hr {
    border: 0;
    border-top: 1px solid #333;
    margin: 20px 0;
}