:root {
    /* Tema Claro */
    --bg-gradient: linear-gradient(130deg,
            #0051ff4e,
            #0066ff49,
            #4c00ff62,
            #001aff41);
    --Shadow: 0 4px 15px rgba(0, 139, 252, 0.3);
    --text: #0f172a;
    --container: #ffffffd9;
    --card: #f8fafc;

    --title: #5d25eb;
    --subtitle: #733bf6;

    --border: #cbd5e1;
    --input-bg: #ffffff;
    --input-text: #0f172a;

    --button-gradient: linear-gradient(100deg,
            #8125eb,
            #3b48f6);
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.dark {

    --bg: #49a4ff9c;
    --bg-gradient: linear-gradient(130deg,
            #0a1e3f 1%,
            #1a3a52 25%,
            #0d2a4a 50%,
            #1a3a52 75%,
            #0f1f3f 110%);

    --text: #e6f8ff;
    --container: #100f29cc;
    --card: #252525;
    
    --title: #00ff88;
    --subtitle: #00d4ff;
    --border: #333;
    --input-bg: #252525;
    --input-text: #ffffff;

    --button-gradient: linear-gradient(100deg, #4aaf59, #00cc6e);
}

body {

    background-color: var(--bg);
    color: var(--text);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
    background: var(--bg-gradient);
    background-attachment: fixed;
    transition: 0.3s ease;
    font-size: var(--font-size);
}

.container {
    width: 400px;
    height: auto;
    background-color: var(--container);
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border);
    font-size: 16px;
    transition: 0.3s ease;
    margin-top: 80px;
}

h1 {
    color: var(--title);
    text-align: center;

}

h3 {
    color: var(--subtitle);
    border-bottom: 1px solid var(--border);
    padding-bottom: 5px;
}

.card {
    background: var(--card);
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid var(--title);
    transition: 0.3s ease;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: var(--button-gradient);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    color: white;
    font-size: 18px;
    box-shadow: var(--Shadow)
}

button:hover {
    transform: scale(1.02);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
    color: var(--text);
}

input,
select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--input-bg);
    color: var(--input-text);
    box-sizing: border-box;
    transition: 0.3s ease;
}

hr {
    border: 0;
    border-top: 1px solid var(--border);
    margin: 20px 0;
}

input::placeholder {
    font-size: 14px;
    text-shadow: 0 0 5px #8f8f8f1a;
    color: var(--input-text);
}



.material-symbols-outlined {
    font-size: 26px;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}



.theme-switch input {
    display: none;
}


.theme-switch label {

    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #ddd;

    border: 2px solid #000000;

    border-radius: 50%;

    cursor: pointer;

    transition: 0.3s ease;

}


.theme-switch label .material-symbols-outlined {

    color: #000;

}




.theme-switch input:checked+label {

    background: linear-gradient(90deg, #0d2a4a, #0f1f3f);

}


.theme-switch input:checked+label .material-symbols-outlined {

    color: white;

}

.font-controls {

    top: 80px;
    right: 20px;
    display: flex;
    gap: 8px;
    padding: 8px;
    border-radius: 10px;
    background: var(--container);
    border: 1px solid var(--border);
    z-index: 1000;
}

.font-controls button {
    all: unset;

    cursor: pointer;

    font-size: 28px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--title);

    transition: 0.2s;
}

.font-controls button:hover {
    transform: scale(1.1);
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background: var(--container);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid var(--border);
    font-size: 16px;
    z-index: 1000;
    box-sizing: border-box;
}

.topbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--title);
}

.topbar-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Animação do ícone de tema */

#icone-tema {
    transition: transform 0.9s ease, color 0.4s ease;
}


/* efeito ao trocar */

.theme-switch label:active #icone-tema {
    transform: rotate(200deg) scale(0.8);
}